<div class="container mt-4">
  <div class="row ml-1">
    <h1>{{ user.knownAs }}'s Profile</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          src="{{ user?.photoUrl || '../../../../../assets/user.png' }}"
          alt="{{ user?.knownAs }}"
        />
        <div class="card-body">
          <div>
            <strong>Gym membership, gym facilities:</strong>
            <p>{{ user?.city }}, {{ user?.country }}</p>
          </div>
          <div>
            <strong>Gender:</strong>
            <p>{{ user?.gender }}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{ user?.age }}</p>
          </div>
          <div>
            <strong>Last active:</strong>
            <p>{{ user?.lastActive | timeAgo }}</p>
          </div>
          <div>
            <strong>Member since:</strong>
            <p>{{ user?.created | date: "mediumDate" }}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <!-- <button class="btn btn-primary w-100">Like</button>
            <button class="btn btn-success w-100">Message</button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-pannel">
        <tabset class="member-tabset">
          <tab heading="Address">
            <h4>Address:</h4>
            <p>{{ user?.introduction }}</p>
            <h4>City, county:</h4>
            <p>{{ user?.lookingFor }}</p>
          </tab>
          <tab heading="Contact">
            <h4>Contact</h4>
            <p>{{ user?.interests }}</p>
          </tab>
          <tab heading="Photos" style="background-color: rgb(255, 255, 255);">
            <ngx-gallery
              [options]="galleryOptions"
              [images]="galleryImages"
            ></ngx-gallery>
          </tab>
          <!-- <tab heading="Messages">
            <p>Messages here</p>
          </tab> -->
        </tabset>
      </div>
    </div>
  </div>
</div>
