<div class="card mb-4">
  <div class="card-img-wrapper">
    <img
      class="card-img-top"
      src="{{
        locker.lockerVacant == true
          ? '../../../assets/lockerGreen.png'
          : locker.lockerBusy == true
          ? '../../../assets/lockerYellow.png'
          : '../../../assets/lockerRed.png'
      }}"
    />
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1">
      <i class=""></i> Nr:{{ locker.id }}
    </h6>
    <p class="card-text text-muted text-center">
      Check in:
      {{ locker.lockerCheckIn | date: "HH:mm:ss, dd/MM/yyyy" }}
      Customer: {{locker.lockerUserId}}
    </p>
  </div>
</div>
